<h2>Your Bookings</h2>
<%= link_to "Edit account", edit_user_registration_path %>

<% @bookings.group_by { |booking| booking.start_time.to_date }.each do |date, bookings| %>
  <h3><%= date %></h3>
  <% bookings.each do |booking| %>
    <ul class="my-3">
        <li>Booking ID: <%= booking.id %></li>
        <li>Time and date: <%= booking.start_time %></li>
        <li>Gear: <%= booking.gear.name %></li>
        <li>Description: <%= booking.gear.description %></li>
        <li>Client Name: <%= booking.user.first_name %> <%= booking.user.last_name %></li>
        <li>Client Email: <%= booking.gear.description %></li>
        <li>---</li>
        <li>Business Name: <%= booking.gear.user.business_name ? booking.gear.user.business_name : "No business name given" %></li>
        <li>City: <%= booking.gear.user.city ? booking.gear.user.city : "No city name given" %></li>
    </ul>
  <% end %>
<% end %>
