<div class="text-center">
  <div class="my-3">
    <h2>Thank you, <%= @booking.user.first_name %>!</h2>
    <h2>Your booking is confirmed.</h2>
  </div>

  <div class="py-3">
    <h5 class="fw-bolder"><%= @booking.gear.name %></h5>
    <div>Booking #<%= @booking.id %></div>
    <div>Day: <%= @booking.start_time.strftime('%b %d, %Y') %></div>
    <div>Time:  <%= @booking.start_time.strftime('%H:%M h') %></div>
    <div>Total Price: <%= @booking.total_price %>€</div>
  </div>
  <div>
    <address>
      <h5 class="fw-bolder">Location</h5>
      <%= @booking.owner.business_name ? @booking.owner.business_name : "Business name not given" %>
      <br>
      <%= @booking.owner.city ? @booking.owner.city : "City not given" %>
      <br>
      <span>Phone:</span> <%= @booking.owner.phone ? @booking.owner.phone : "Phone not given" %>
    </address>
  </div>

  <div class="py-3">
    <h5 class="fw-bolder">Important information</h5>
    <div>
      <% arrival_time = @booking.start_time - 15.minutes %>
      <div>Please arrive 15 minutes earlier at: <%= arrival_time.strftime('%H:%Mh') %></div>
      <div>We are looking forward seeing you!</div>
      <%= @booking.gear.user.first_name ? @booking.gear.user.first_name : "" %>
    </div>
  </div>
</div>
