<div class="container p-3">
<h2>Booking Confirmation</h2>
<p><strong>Gear:</strong> <%= @booking.gear.name %></p>
<p>Description: <%= @booking.gear.description %></p>
<p>Renting user: <%= @booking.user.first_name %> <%= @booking.user.last_name %></p>
<p>Renting location: <%= @booking.user.city %></p>



<div class="mt-5">
<p><strong>Time:</strong> <%= @booking.start_time %></p>
<p><strong>Time:</strong> <%= @booking.start_time %></p>
<p><strong>First Name:</strong> <%= @booking.user.first_name %></p>
<p><strong>Last Name:</strong> <%= @booking.user.last_name %></p>
<p><strong>Email:</strong> <%= @booking.user.email %></p>
<p><strong>Total Price:</strong> <%= @booking.total_price %></p>
</div>

<%= link_to 'Back to Home', root_path %>
