<div class="text-center">
  <div class="my-3">
    <h1 class="text-">Thank you, <%= @booking.user.first_name %>!</h1>
    <i class="fa-solid fs-1 fa-circle-check" style="color: #63E6BE;"></i>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 border p-5 mr-3">
      <p class="fs-2">Your Booking Details</p>
      <p class="fs-3">Gear: <%= @booking.gear.name %></p>
      <p class="w-70 mx-auto">
        <strong>Description:</strong> <%= @booking.gear.description %>
      </p>
      <p>
        <strong>Day:</strong> <%= @booking.start_time.strftime('%b %d, %Y') %>
      </p>
      <p>
        <strong>Time:</strong>  <%= @booking.start_time.strftime('%H:%M h') %>
      </p>
      <p>
        <strong>Total Price:</strong> <%= @booking.total_price %>€
      </p>
    </div>
    <div class="col-12 col-sm-6 border p-5">
      <p class="fs-2">Address</p>
      <address>
        <strong>Business Name:</strong>  <%= @booking.owner.business_name ? @booking.owner.business_name : "Business name not given" %>
        <br>
        <strong>City:</strong> <%= @booking.owner.city ? @booking.owner.city : "City not given" %>
        <br>
        <strong>Phone:</strong> <%= @booking.owner.phone ? @booking.owner.phone : "Phone not given" %>
      </address>
    </div>
    <div class="col-12 border p-5">
      <p class="fs-2">Important information</p>
      <% arrival_time = @booking.start_time - 15.minutes %>
      <p>Please arrive 15 minutes earlier at: <%= arrival_time.strftime('%H:%Mh') %></p>
      <p>We are looking forward seeing you!</p>
      <%= @booking.gear.user.first_name ? @booking.gear.user.first_name : "" %>
      <br>
      <br>
      <%= link_to root_path do%>
        <button class="text-white btn btn-primary">Continue Shopping</button>
      <% end %>
    </div>
  </div>
</div>
