
  <div class="row">

    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <div class="container p-1">
        <div class="card border shadow rounded-5">
          <img src="https://source.unsplash.com/random?boat" class="card-img-top rounded-top-4" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between"><span>Price:</span><span>50 €</span></li>
            <li class="list-group-item d-flex justify-content-between"><span>Location:</span><span>City</span></li>
          </ul>
        </div>
      </div>
    </div>

  </div>


  <div class="row row-cols-1 row-cols-md-3 g-4">
  <% @list.bookmarks.each do |bookmark| %>
  <div class="col">
    <div  class="card h-100">
      <%= image_tag bookmark.movie.poster_url, class:"card-img-top", alt: bookmark.movie.poster_url %>
      <div class="card-body">
        <h5 class="card-title"><%= bookmark.movie.overview %></h5>
        <p class="card-text">(Comment: <%= bookmark.comment %>)</p>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <small class="text-muted">Rating: <%= bookmark.movie.rating %></small>
        <span class="badge bg-primary rounded-pill"><%= link_to bookmark_path(bookmark), data: {turbo_method: :delete} do %>
          <i class="fa-regular fa-trash-can" style="color:white"></i>
          <% end %></span>
      </div>
    </div>
  </div>
  <% end %>
</div>
