  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <% @gears.each do |gear| %>
    <div class="col">
      <div class="card h-100 rounded-4 bg-light-subtle zoom shadow">
        <%= link_to gear_path(gear), class: "stretched-link text-docoration-none", style: "color: inherit;" do %>
          <% if gear.photo.key? %>
            <%= cl_image_tag gear.photo.key, class: "card-img-top rounded-top-4", height: 200, width: 300, crop: :scale %>
          <% else %>
            <img src="https://source.unsplash.com/random?boat" class="card-img-top rounded-top-4" alt="...">
          <% end %>
        <% end %>
        <div class="card-body px-2 shadow bg-white">
          <div class="fs-4"><%= gear.name %></div>
          <div class="card-text text-decoration-none"> <%= gear.description %></div>
        </div>
        <div class="card-footer text-muted py-0 px-2 bg-white"><small><%= gear.user.business_name ? "#{gear.user.business_name}," : "" %> <%= gear.user.city ? "#{gear.user.city}" : "" %></small></div>
          <div class="card-footer d-flex justify-content-between align-items-center">
            <div class="fs-4"><%= gear.hourly_rate %>€ / hour</div>
            <div><button type="button" class="text-white btn btn-primary rounded px-4">Book</button></div>
          </div>
        </div>
    </div>
  <% end %>
</div>
