<%= simple_form_for [gear], local: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :hourly_rate %>
    <%= f.input :photo, as: :file %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "text-white btn btn-primary"  %>
  </div>
<% end %>
