<h1>Your Gears</h1>
  <div class="my-3">
    <%= link_to 'Add Gear', new_gear_path, class: "btn btn-primary text-white"  %>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <% @gears.each do |gear| %>
    <div class="col">
      <div class="card h-100 rounded-4 bg-light-subtle zoom shadow">
        <%= link_to gear_path(gear), class: "stretched-link text-docoration-none", style: "color: inherit;" do %>
          <% if gear.photo.key? %>
            <%= cl_image_tag gear.photo.key, class: "card-img-top rounded-top-4", height: 200, width: 300, crop: :scale %>
          <% else %>
            <img src="https://source.unsplash.com/random?boat" class="card-img-top rounded-top-4" alt="...">
          <% end %>
        <% end %>
        <div class="card-body px-2 shadow bg-white">
          <div class="fs-4"><%= gear.name %></div>
          <div class="card-text text-decoration-none"># <%= gear.id %></div>
          <div class="card-text text-decoration-none"><%= gear.description %></div>
          <div class="fs-5 card-text text-decoration-none my-3"><%= gear.hourly_rate%>€/hour</div>
        </div>
          <div class="card-footer d-flex justify-content-between bg-light-subtle rounded-bottom-4">
            <%= link_to 'Edit', edit_gear_path(gear), class: "text-white btn btn-primary" %>
              <%= form_with(url: my_gear_path(gear), method: :delete, local: true, data: { confirm: 'Are you sure?' }) do |form| %>
                <%= button_tag(type: 'submit', class: "btn btn-danger") do %>
                  <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
              <% end %>
            <% end %>
          </div>
        </div>
    </div>
  <% end %>
</div>
