<%# Gear card %>
<%# Add this line after database is finished <%= gear.user.city ? "(#{gear.user.city})" : "" %>
<h2>Spain</h2>
<div class="card  d-flex  mb-3" style="max-width: 1000px; max-height: 1000px">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://source.unsplash.com/random?boat" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @gear.name %></h5>
        <p class="card-text"><%= @gear.description %></p>
        <p class="card-text fs-4"><%= @gear.hourly_rate %>h/€</p>
        <%= link_to gear_path(@gear) do%>
          <span class="btn btn-primary px-5 rounded-4">Check avaliabity</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
