<div>
<h1><%= @gear.name %></h1>
<div>Description: <%= @gear.description %></div>
<div>Price: <%= @gear.hourly_rate %>€/hour</div>
<br>
<div>Location:</div>
<div><%= @gear.user.business_name ? @gear.user.business_name : "Business name not given" %></div>
<div><%= @gear.user.city ? @gear.user.city : "City name not given" %></div>
</div>


<div class="mt-5">
<h1>Make your booking</h1>
<h2 class="mb-4">
  For today: <%= Date.today %>
</h2>
<%= form_with(model: [@gear, @booking], url: gear_bookings_path(@gear), html: { class: 'needs-validation', novalidate: true }) do |form| %>

  <% dates = @next_7_days_with_slots.map { |day| day[:date] } %>

  <% available_slots = @next_7_days_with_slots.first[:slots] %>
  <%= form.select :date, dates , class: "form-control" %>

  <div class="form-group mb-3">
    <%= form.label :start_time, "Select time", class: "form-label" %>
    <%= form.select :start_time, available_slots, {}, { class: "form-control" } %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :first_name, class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group mt-4">
    <%= form.submit "Book now", class: "btn btn-primary" %>
  </div>
<% end %>


</div>
